/*#00e5ff
#1d4ed8
#0a0a0a
#9ca3af*/
:root {
  --navbar:black;
  --primary-color: #213555;      
  --secondary-color: #bebebe;    
  --accent-color: #ba6427;                
  --section-bg: #F5EFE7;         
  --text-color: #e9e8e8;         
  --shadow: rgba(9, 39, 43, 0.25);
  --glow: 0 0 15px rgba(0, 229, 255, 0.444);
}


body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  padding: 0;
  color: var(--text-color);
  line-height: 1.6;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.gradient-background {
  background: linear-gradient(300deg, #404040, #292929, #000000 );
  background-size: 180% 180%;
  animation: gradient-animation 10s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


h1 {
  font-size: 2.7rem;
  font-weight: 800;
  color: var(--secondary-color);
  margin: 2rem 0;
  padding-left: 2rem;
  letter-spacing: 1px;
  text-shadow: var(--glow);
}
h2 {
  color: var(--text-color);
  font-weight: 700;
  margin-bottom: 1rem;
  border-left: 5px solid var(--accent-color);
  padding-left: 0.75rem;
  text-shadow: 0 0 8px var(--secondary-color);
}



section {
  margin: 2rem auto;
  padding: 2rem;
  width: 70vw;
   text-align: justify;
  color: var(--text-color);
  border-radius: 12px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
section:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 25px rgba(0,229,255,0.8);
}











.highlight {
  color: var(--accent-color);
  font-weight: bold;
 
}


.contact {
  border-left: 5px solid var(--accent-color);
  padding: 1.5rem;
  border-radius: 12px;
  text-align: left;
 
}
.contact a {
  font-weight: 600;
  text-decoration: none;
}
.contact a:hover {
  color: #ffffff;
  
  text-decoration: underline;
}



.site-footer {
  padding: 1.5rem;
  padding-top: 0%;
  text-align: center;
  font-size: 0.95rem;
}
.site-footer a {
  font-weight: 600;
  text-decoration: none;
  color: #ba6427;
}
.site-footer a:hover {
  text-shadow: var(--glow);
  text-decoration: underline;
}


.easter-egg {
  text-align: center;
}

.text-gray-800{
  color: var(--accent-color);
}
.text-gray-800:hover{
  color: var(--text-color);
}


.grida{
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width:1000px;
  align-items: center;  
}

.thetext{
  font-family: 'Courier New', Courier, monospace; 
  font-weight: bold; 
  font-size: 2.5rem;
  padding: 10px;
  padding-left: 20px;
  text-align: center;
}

.thetext  p{
  font-weight: normal;
  font-size: 1rem;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
}

.wrapper {
  display: flex;
  justify-content: center; 
  align-items: center;     
  min-height: 500px;      
}

.thepic {
   padding: 10px;
  display: flex;
  justify-content: center; 
  align-items: center;     
}

.thepic > img{
  height: 400px;
  width: 400px;
  border-radius: 50%;
}




.navbar {
  position: sticky;
  background: var(--navbar);
  top: 0;
  z-index: 999;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
  

}


.nav-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 14px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}






.nav-links {
  padding: 0%;
  list-style: none;
  display: flex;
  gap: 28px;
}

.nav-links a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: 500;
  transition: color 0.2s ease;
}

.nav-links a:hover {
  color:  var(--primary-color);
}


.menu-toggle {
  display: none;
}


.logolinkflex{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
  gap: 10px;
}



.gridtime{
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-template-columns: 2fr 10fr;
  gap: 2rem;
}




.flex-table {
  display: inline-flex;
  flex-direction: column;
  gap: 10px;
}



.cell {
  padding: 8px;
  text-align: center;
  display: inline-flex;
  align-items: center;       
  font-size: 18px;
}




























@media (max-width: 920px) {

  .grida {
    grid-template-columns: 1fr; 
  }

  .thepic{
       order: -1;
  }

section{
  display: block;
   max-width: 100%;
}

section:hover {
  transform:  none;
  box-shadow: none;
}


  .menu-toggle {
    display: block;
    font-size: 1.8rem;
    color:  rgb(255, 255, 255);
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1001;
  }

.nav-container{
  justify-content: flex-start;
}

  .nav-links {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  background: var(--navbar);
  padding-bottom: 1rem;
  padding-right: 2rem;  
  margin: 0; 
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.nav-links li {
  padding-left: 20px; 
}

.nav-links a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 10px 0;
}

  .nav-links.show {
    display: flex !important;
  }
}

@media(max-width:600px){
  .thepic > img {
    height: 300px;
    margin-top: 50px;
    width: 300px;
  }

  .thetext{
    font-size: 2rem;
  }



}